/*
================BOOTSTRAP CSS FOR THE TABLE=================
*/
.col-md-6 {
	/*width: 100%;*/
}
.row{
	margin-top:40px;
	padding: 0 10px;
}
.clickable{
	cursor: pointer;   
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
.panel-body{
	display: none;
}

/*
============= BOOTSTRAP CSS ==============
*/
/*.navbar-brand
{
	background: url(img/mest-logo.png) no-repeat left center;
	height: 20px;
	width: 100px;
}
*/
.navbar {
	box-shadow: 3px 3px 3px #999; 
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	height: 70px;
	border-radius: 0px;
}

.navbar-default{
	background-color: #03a9f4;
	border-color: #03a9f4;

}
.navbar-default .navbar-brand {
	color: white;
}
.navbar-default .navbar-nav > li > a {
	color: white;
}


	/*  =============footer=============
	*/
	.footer 
	{
		padding-top: 30px;
		padding-bottom: 30px;
		position: relative;
		bottom: 0;
		color: #ffffff;
		background-color: #03a9f4;
		width: 100%;
		
	}
/*  ========= cards =========
*/

/*.card{
	width: 200px;
	height: 200px;
	background-color: blue;
	box-shadow: 10px 10px 5px #888888;
	color: white;
	margin-left: 20px;
	}*/

	.card {
		width: 100%;
		background: #6AA8A8;
		/*border: solid 3px #ccc;*/
		font-size: 16px;
		margin-left: 10px;
		box-shadow: 5px 5px 5px #888888;
		margin:8px;

	}

	div{
		display: block;
	}
	.demo-live {
		padding: 20px;
		background: #fff;
		line-height: 1.4em;
		min-height: 260px;
	}

	.demo-source-head {
		padding: 5px 20px;
		position: relative;
		cursor: pointer;
	}
	.pointer-up {
		border-bottom: solid 7px #6AA8A8;
		border-left: solid 10px transparent;
		border-right: solid 10px transparent;
		width: 0;
		left: 0;
		float: left;
		position: relative;
		margin-left: 20px;
		margin-top: -11px;
	}	

	section {
		/*padding: 15px 0;*/
		line-height: 1.6em;
	}
	/*.half-l {
		width: 48%;
		float: left;
		margin-right: 2%;
		}*/
		.title{
			margin-top: 5px;
			height: 40px;
			border-color: black;
			font-size:20px;

		}
		#card-title{
			margin-left: 10px;
			margin-top: 10px;
			text-shadow: 0px 1px 0.5px #fff;
			padding: 10px;	

		}
		#contact-alignment{
			margin-top: 100px;
		}

		.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
			margin-left: -20;
			padding: 30px;
		}
		section.slider {
			margin-top: 0px;
			padding-bottom: 0;
		}